* {
  box-sizing: border-box;
}

.header {
  position: relative;
  margin: 0;
  padding: 0;
  position: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  background-color: white;
  padding: 50px 0px;
}

.form > input[type="text"] {
  border: none;
  font-size: 30px;
  background-color: transparent;
  border-bottom: 2px solid black;
  color: black;
  padding: 3px 5px;
  text-align: center;
}

.form > input[type="text"]:focus {
  outline: none;
}
.form > input[type="text"]::-webkit-input-placeholder {
  color: black;
  opacity: 0.4;
  text-align: center;
}

.response-section {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 175px;
  position: relative;
  margin: 50px;
}

.response-section > .vertical-card {
  grid-row: auto / span 2;
}

.response-section > .horizontal-card {
  grid-column: auto / span 1.5;
}
.response-section > .vertical-card > img {
  width: 100%;
  height: 100%;
}
.response-section > .horizontal-card > img {
  width: 100%;
  height: 100%;
}
